.doctor-login-child {
    width: 30px;
    height: 30px;
    display: none;
}

.jam-medical-icon {
    width: 35px;
    height: 35px;
    position: relative;
}

.jam-medical-logo,
.jammedical {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}

.jammedical {
    /*overflow: hidden;
    padding: 2px;*/
    width: 18px;
    height: 18px;
}

.jam-medical-logo {
    height: 30px;
    width: 30px;
    border-radius: var(--br-13xl);
    /*background-color: var(--primary-col);*/
    padding: 6px;
}

.arogya-24x7 {
    text-decoration: none;
    height: 33px;
    position: relative;
    font-weight: 600;
    color: inherit;
    display: inline-block;
    white-space: nowrap;
}

.logo-group {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 3px;
}

.main {
    align-self: stretch;
    background-color: var(--light-yellow);
    border-bottom: 1px solid var(--bg-color);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 23.5px 64px var(--padding-3xl);
    text-align: left;
    font-size: var(--font-size-3xl);
    color: #030632;
    font-family: var(--font-poppins);
}

.welcome-back {
    margin: 0;
    height: 36px;
    position: relative;
    font-size: inherit;
    letter-spacing: 0.02em;
    font-weight: 600;
    font-family: inherit;
    display: inline-block;
}

.welcome-title {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    padding: 0 var(--padding-xl) 0 409px;
}

.welcome-to {
    color: var(--color-black);
}

.arogya-24x71 {
    color: var(--primary-col);
}

.healthcare-services,
.welcome-to-arogya-24x7 {
    margin: 0;
}

.welcome-to-arogya-container {
    margin: 0;
    position: relative;
    font-size: inherit;
    font-weight: 600;
    font-family: inherit;
}

.services-description {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 var(--padding-12xs);
    box-sizing: border-box;
    max-width: 100%;
}

.customer-icons {
    height: 46px;
    width: 46px;
    position: relative;
    border-radius: 50%;
    object-fit: cover;
    min-height: 46px;
}

.customer-icons1,
.customer-icons2,
.customer-icons3,
.customer-icons4,
.customer-icons5,
.customer-icons6 {
    height: 46px;
    width: 46px;
    position: relative;
    border-radius: 50%;
    object-fit: cover;
    min-height: 46px;
    z-index: 1;
    margin-left: -12px;
}

.customer-icons2,
.customer-icons3,
.customer-icons4,
.customer-icons5,
.customer-icons6 {
    z-index: 2;
}

.customer-icons3,
.customer-icons4,
.customer-icons5,
.customer-icons6 {
    z-index: 3;
}

.customer-icons4,
.customer-icons5,
.customer-icons6 {
    z-index: 4;
}

.customer-icons5,
.customer-icons6 {
    z-index: 5;
}

.customer-icons6 {
    z-index: 6;
}

.happy-customers-icons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.happy-customers {
    position: relative;
    font-weight: 500;
}

.customers-count,
.happy-customers-count,
.happy-customers-count-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.happy-customers-count,
.happy-customers-count-wrapper {
    flex-direction: column;
}

.benefits,
.customer-benefits {
    display: flex;
    flex-direction: row;
    max-width: 100%;
}

.customer-benefits {
    flex: 1;
    align-items: center;
    justify-content: space-between;
    gap: 14px;
}

.benefits {
    width: 476px;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 12px;
    box-sizing: border-box;
    font-size: var(--font-size-base);
    color: var(--text-heading);
}

.empty-benefit-icon {
    align-self: stretch;
    height: 306px;
    border-radius: 12px;
    max-width: 100%;
    overflow: hidden;
    flex-shrink: 0;
    object-fit: cover;
    z-index: 1;
}

.services-description-parent {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 39px;
    min-width: 360px;
    max-width: 100%;
}

.login-notice-icon {
    height: 23px;
    width: 23px;
    position: absolute;
    margin: 0 !important;
    top: 364%;
    right: 38.5%;
}

.please-login {
    margin: 0;
    /*white-space: pre-wrap;*/
}

.and-medical-reports {
    margin: 0;
}

.please-login-to-container {
    position: relative;
    letter-spacing: 0.02em;
    line-height: 20px;
    font-weight: 500;
    z-index: 1;
}

.login-instructions {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    position: relative;
    max-width: 100%;
}

.login-button-icon {
    height: 23px;
    width: 23px;
    position: relative;
    min-height: 23px;
}

.login {
    position: relative;
    display: inline-block;
    min-width: 39px;
}

.login-button,
.login-wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

.login-wrapper {
    flex-direction: column;
    padding: var(--padding-12xs) 0 0;
}

.login-button {
    flex-direction: row;
    gap: 10px;
}

.border {
    width: 18px;
    height: 18px;
    position: relative;
    border-radius: 50%;
    border: 0 solid var(--text-heading);
    box-sizing: border-box;
}

.register-button-border {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 1.5px 0 0;
}

.register {
    position: relative;
    display: inline-block;
    min-width: 58px;
}

.register-button,
.register-button-content {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

.register-button-content {
    flex-direction: row;
    gap: 11px;
}

.register-button {
    flex-direction: column;
    padding: var(--padding-12xs) 0 0;
}

.login-form-fields {
    width: 215px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    gap: var(--gap-xl);
}

.city-dropdown {
    width: 89%;
    border: 0;
    outline: 0;
    background-color: transparent;
    height: 21px;
    margin: 0 !important;
    position: absolute;
    top: calc(50% - 10.5px);
    left: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-family: var(--font-poppins);
    font-size: var(--font-size-sm);
    color: var(--color-teal);
}

.input-fields-comp {
    align-self: stretch;
    height: 53px;
    border-radius: var(--br-5xs);
    border: 1px solid var(--color-silver);
    box-sizing: border-box;
    padding: var(--padding-base-5) 271px var(--padding-base-5) var(--padding-xl);
    position: relative;
}

.input-fields-comp,
.input-fields-comp-child,
.input-fields-comp1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.input-fields-comp-child {
    width: 89%;
    border: 0;
    outline: 0;
    background-color: transparent;
    height: 21px;
    margin: 0 !important;
    position: absolute;
    top: calc(50% - 10.5px);
    left: 20px;
    font-family: var(--font-poppins);
    font-size: var(--font-size-sm);
    color: var(--color-teal);
}

.input-fields-comp1 {
    align-self: stretch;
    height: 53px;
    border-radius: var(--br-5xs);
    border: 1px solid var(--color-silver);
    box-sizing: border-box;
    padding: var(--padding-base-5) 276px var(--padding-base-5) var(--padding-xl);
    position: relative;
}

.inputs-fields {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-15xl);
}

.forgot-password,
.select-city {
    position: relative;
    font-size: var(--font-size-sm);
    letter-spacing: 0.02em;
    font-family: var(--font-poppins);
    color: var(--primary-col);
    text-align: left;
}

.select-city {
    font-size: var(--font-size-base);
    font-weight: 500;
    color: var(--white);
    display: inline-block;
    min-width: 45px;
}

.input-fields-comp2,
.select-city-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.select-city-wrapper {
    margin: 0 !important;
    position: absolute;
    top: calc(50% - 12px);
    left: calc(50% - 22.5px);
}

.input-fields-comp2 {
    cursor: pointer;
    border: 0;
    padding: 11px 0;
    background-color: var(--primary-col);
    align-self: stretch;
    height: 46px;
    border-radius: var(--br-13xl);
    box-sizing: border-box;
    position: relative;
}

.forgot-password-parent {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
    gap: var(--gap-xl);
}

.input-fields {
    margin: 0;
    align-self: stretch;
    gap: 21px;
}

.input-fields,
.login-form,
.login-instructions-parent {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.login-form {
    align-self: stretch;
    box-shadow: 0 0 32px rgba(14, 199, 190, 0.22);
    border-radius: 30px;
    background-color: var(--white);
    padding: 60px 49px;
    gap: 38px;
    font-size: var(--font-size-sm);
    color: var(--text-heading);
}

.login-instructions-parent {
    width: 464px;
    gap: 47px;
    min-width: 464px;
    max-width: 100%;
    font-size: var(--font-size-base);
}

.description {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: center;
    gap: 113px;
    max-width: 100%;
    margin-top: -18px;
    font-size: 36px;
}

.welcome-title-parent {
    width: 1131px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    max-width: 100%;
}

.content,
.doctor-login {
    display: flex;
    box-sizing: border-box;
}

.content {
    align-self: stretch;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    padding: 0 var(--padding-xl) 0 var(--padding-3xl);
    max-width: 100%;
    flex-shrink: 0;
    text-align: left;
    font-size: 24px;
    color: var(--color-black);
    font-family: var(--font-poppins);
}

.doctor-login {
    width: 100%;
    position: relative;
    background-color: var(--white);
    overflow: hidden;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
    padding: 0 var(--padding-12xs) 140px 0;
    gap: 69px;
    line-height: normal;
    letter-spacing: normal;
}

a {
    text-decoration: none;
    color: black;
}

@media screen and (max-width: 1125px) {
    .description {
        gap: 56px;
    }
}

@media screen and (max-width: 1025px) {
    .welcome-to-arogya-container {
        font-size: 29px;
    }

    .login-instructions-parent {
        flex: 1;
    }

    .description {
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 750px) {
    .welcome-title {
        padding-left: 204px;
        box-sizing: border-box;
    }

    .customer-benefits {
        flex-wrap: wrap;
    }

    .services-description-parent {
        gap: var(--gap-lgi);
    }

    .login-instructions-parent {
        min-width: 100%;
    }

    .description {
        gap: 28px;
    }

    .doctor-login {
        gap: var(--gap-15xl);
    }
}

@media screen and (max-width: 450px) {
    .arogya-24x7 {
        font-size: 18px;
    }

    .main {
        padding-left: var(--padding-xl);
        padding-right: var(--padding-xl);
        box-sizing: border-box;
    }

    .welcome-back {
        font-size: 19px;
    }

    .welcome-title {
        padding-left: var(--padding-xl);
        box-sizing: border-box;
    }

    .welcome-to-arogya-container {
        font-size: var(--font-size-3xl);
    }

    .services-description-parent {
        min-width: 100%;
    }

    .inputs-fields {
        gap: var(--gap-mid);
    }

    .login-form {
        gap: var(--gap-lgi);
        padding: 38px 24px 39px;
        box-sizing: border-box;
    }

    .login-instructions-parent {
        gap: 23px;
    }

    .doctor-login {
        gap: var(--gap-mid);
    }
}
